<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Recover your password</title>
  </head>
  <body>
    <p>Hi {{name}}</p>
    <p>Need to reset your password?</p>
    <p>Use your secret code!</p>
    <p><b>{{code}}</b></p>
    <p>If you did not make this request then please ignore this email</p>
  </body>
</html>